# Compiler files
cache/
cache-zk/
cache_hardhat-zk
artifacts-zk/
deployments-zk/
typechain-types/
out/
lib/

# Ignores development broadcast logs
broadcast/

# Docs
docs/

# Dotenv file
.env

# IntelliJ
.idea/

# Node.js
node_modules/
